
.details-section-container {
    border: 2px solid red;
    height: 100vh;
}
.carousel-container {
    max-width:800px;
    margin-top: 35px;
    ul {
        padding: 0px;
        margin: 0px;
    }

    .thumbs-wrapper {
        margin-left: 0px;
    }



}

