.about-section-container {
    max-width: 1000px;
    margin-right: 200px;
    margin-bottom: 40px;
    -webkit-transition: margin 0.5s;
    -moz-transition: margin 0.5s;
    transition: margin 0.5s;
}

.about-section-content {
    margin-top: 35px;
    h2 {
        font-size: 1.5em;
    }
    p {
        max-width: 720px;
    }
    a {
        color: black;
    }
    -webkit-transition: margin 0.5s;
    -moz-transition: margin 0.5s;
    transition: margin 0.5s;
}

@media screen and (max-width: 1200px) {
    .about-section-container {
        margin-right: 40px;
    }
}

@media screen and (max-width: 815px) {
    .about-section-container {
        margin-left: 40px;
    }
}

@media screen and (max-width: 375px) {
    .about-section-container {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}