.about-section-container {
    max-width: 1000px;
    margin-right: 200px;
}

.about-section-content {
    margin-top: 35px;
    h2 {
        font-size: 1.5em;
    }
    p {
        max-width: 720px;
    }
    a {
        color: black;
    }
}