.image-grid-section-container {
    height: 100vh;
    overflow: scroll;
    //margin-right: 200px;
    //border: 2px solid orange;
}

.placeholder-img {
    width: 100%;
    height:300px;
    background-color: lightgray;
    border: 1px solid gray;
    margin: 15px;
}

img {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    &:hover {
        opacity: 80%;
    }
}

.images {
    max-width: 1000px;
    column-count: 2;
}

@media screen and (max-width: 1075px) {
    .images {
        column-count: 1;
    }
}

@media screen and (max-width: 880px) {
    .image-grid-section-container {
        margin-right: 35px;
    }
}

@media screen and (max-width: 685px) {
    .image-grid-section-container {
        margin-left: 40px;
        margin-right: 40px;
        overflow: visible;
    }
}

@media screen and (max-width: 375px) {
    .image-grid-section-container {
        margin-left: 15px;
        margin-right: 15px;
    }
}