nav {
    max-width: 350px;
    //border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.nav-content {
    margin: 20px 40px 20px 40px;
    max-width: 270px;
    p {
        max-width: 90% ;
        font-size: 16px;
    }
}
.logo-nav-container{
    // margin-bottom: 40px;
    
    .logo {
        font-family: 'Anton', sans-serif;
        font-size: 60px;
        margin: 0px;
    }
    .nav-links {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: black;
            &:hover {
                color: #E00028;
            }
        }
    }
}

.search-filter-container {
    display: flex;
    margin-top: -5px;
    label {
        margin-left: 5px;
        span {
            margin-right: -5px;
        }       
    }
}

//search styles
.search-bar {
    margin-top: 40px;
    margin-bottom: 10px;
    a {
        text-decoration: none;
        color: rgb(87, 87, 87);
        margin-top: 6px;
        margin-left: -6px;
    }
}

.submit-search-button {
    &:hover {
        opacity: 80%;
        cursor: pointer;
        color: white;
        background-color: rgb(129, 129, 129);
        border-radius: 40px;
        margin-right: -4px;
        padding: 4px;
    }
}

@media screen and (max-width: 375px) {
    .nav-content {
        margin-left: 15px;
        margin-right: 15px;
    }

    nav {
        align-items: flex-start;
    }
}