.error-state-container {
    height: 100vh;
    
    max-width: 1000px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    //align-items: center;
}

.error-state-content {
    // width: 60vw;
    height: 50vh;
    text-align: center;
    //width: 1000px;
    //max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid gray;
    padding: 50px 15vw;
    margin-right: 40px;
    h2 {
        margin: 0px;
    }
    // p {
    //     max-width: 50%;
    // }
}